body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
.legend {
  line-height: 22px;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 6px;
  padding-top: 0px;
  border-top: 0px
}
.legend i {
  width: 16px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.75;
}